body{
    background: rgb(25, 189, 186);
    color: rgb(0, 0, 0);
}

.heading{
    width: 80%;
    font-size: 20px;
}
#camera{
    border: 2px dashed black;
    width: 300px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy{
    color: rgb(0, 94, 255);
    background-color: dodgerblue;
}
